{% extends "themes/base_admin.html.twig" %}

{% block title %}Nouveau tag{% endblock %}

{% block description %}Nouveau tag{% endblock %}

{% block main %}
    <h1 class="text-center display-5 my-3">Nouveau tag</h1>
{% endblock %}