{% extends "themes/base_visitor.html.twig" %}

{% block title %} - Qui suis-je ?{% endblock %}

{% block description %}Qui suis-je ?{% endblock %}

{% block main %}
    <h1 class="text-center display-5 my-3">Qui suis-je ?</h1>
{% endblock %}