{% extends "themes/base_visitor.html.twig" %}

{% block title %} - En attente de verification{% endblock %}

{% block description %} - En attente de verification{% endblock %}

{% block main %}
    <div class="container bg-white shadow p-4 text-center">
        <h1 class="display-6 mt-4">En attente de verification..</h1>
        <p>Un email vous été envoyé, veuillez consulter votre boite mail.</p>
    </div>
{% endblock %}